<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="11433448" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0000" viewmode="application" widgetId="" width="320">
	
	<name>闵行智慧园区</name>
	<description/>
	<author email=""> </author>
	<icon src="icon.png"/>
	<license href=""/>
	<content encoding="utf-8" src="main.html"/>
	<updateurl/>
	<logserverip>10.0.0.160</logserverip> 
	<showmyspace>false</showmyspace>
	<obfuscation>true</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>1</orientation>
<debug>true</debug>
<partobfuscation/>
<webapp>true</webapp>
</widget>
